<h1>{{newMovie.title}}</h1>
<img src="{{newMovie.poster}}" alt="">
<h4>Room {{newMovie.room}}</h4>
<h3>Genres</h3>

<ul>
  <li *ngFor="let genre of newMovie.genres">
    <h5>{{genre}}</h5>
  </li>
</ul>
<h3>Year {{newMovie.year}}</h3>
<h3>Director {{newMovie.director}}</h3>
<h3>Actors</h3>

<ul>
  <li *ngFor="let actor of newMovie.actors">
    <h5>{{actor}}</h5>
  </li>
</ul>
<h3>Hours</h3>

<ul>
    <li *ngFor="let hour of newMovie.hours">
      <h5>{{hour}}</h5>
    </li>
  </ul>
<h3>Synopsis</h3>
<h4>{{newMovie.synopsis}}</h4>
<a [routerLink]="['/home']">HOME</a>